@model MyParking.DAL.Models.Cliente

@{
    ViewBag.Title = "ListaCliente";
}

<table>
    <tr>
        <td><strong>Nome</strong></td>
        <td><strong>Sobrenome</strong></td>
        <td><strong>Telefone</strong></td>

    </tr>
</table>
