
@model MyParking.DAL.Models.ConfVagas
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.qtdeVagas)
        </th>
        <th>

        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.qtdeVagas)
        </td>
        <td>
            @Html.ActionLink("Editar Tamanho", "Edit")
        </td>
    </tr>

</table>